.App {
  text-align: center;
  margin-top: 40px;
}

#debounce {
  border: 1px solid rgb(123, 123, 123);
  padding: 10px;
  margin: 15px 5vw;
  text-align: center;
}

#debounce input {
  margin-top: 20px;
  padding: 2px 7px;
}
#debounce h2 {
  margin-top: 20px;
}

#fetch {
  border: 1px solid rgb(123, 123, 123);
  padding: 10px;
  margin: 15px 5vw;
  min-height: 100vh;
}

#fetch section div {
  border: 1px solid #000;
  height: 300px;
  width: 800px;
  padding: 15px 20px;
  margin: 22px auto;
  overflow: hidden;
}

#fetch img {
  width: 200px;
  height: 100%;
  float: left;
  clear: both;
  margin-right: 30px;
}
#fetch > h1,
div#btns {
  width: fit-content;
  margin: 15px auto;
}

#btns button {
  color: #fff;
  background-color: #000;
  border: none;
  padding: 5px 15px;
  margin: 5px 15px;
  text-transform: capitalize;
}
section div * {
  margin-bottom: 10px;
  line-height: 130%;
}
#progress h1 {
  text-align: center;
  margin: 30px;
}

#timer {
  border: 1px solid black;
  width: fit-content;
  text-align: center;
  padding: 20px 40px 10px;
  margin: 30vh auto;
}
#timer h2 {
  margin: 15px 0;
  font-size: 40px;
  letter-spacing: 2px !important;
}
